<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 </head>
 <body>
  <div class="container">
   <div class="jumbotron">
    <h1>Welcome to Jerry's New Voice!</h1>
    <a class="btn btn-primary" href="word-attempt">Practice Your Words</a>
    <a class="btn btn-primary" href="/v1/user-history">See Your History</a>
       <br><br>
    <a class="btn btn-primary" href="/accounts/logout">Logout</a>

   </div>
  </div>
 </body>
</html>