<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <meta charset="utf-8">
  <title>miss</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <style>
    .page-title {
        color: #778899;
    }
     .whole-page {
        outline: 200px solid #FFFFFF;
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: solid #778899;

    }
     .btn {
        margin-bottom: 30px;
    }
    </style>
 </head>

 <body>
 <div class="whole-page">
  <h3 class="page-title">Miss!</h3>
    <br>
      <input class="btn btn-primary" value="Try word again" onclick="history.back()">
            <br>
        <a class="btn btn-primary" href="/word-attempt">Practice New Word</a>
      <a class="btn btn-primary" href="/">Return Home</a>
     </div>
 </body>
</html>